
<!-- showing delete button only when the authorized person logged in  -->
<% if (locals.user && locals.user.id == comment.user.id) { %>

    <!-- to delete a comment -->
    <a class="delete-comment-button" href="/comment/destroy/<%= comment.id %>">X</a>

<% } %>

<p>
    <!-- content of the comment -->
    <%= comment.content %>
</p>

<p>
    <!-- user who commented  -->
    <%= comment.user.name %>
</p>