
<p>

    <% if (locals.user) { %>

        <li>
            <%= user.name %>
        </li>

        <li>
            <a href="/user/sign-out">Sign Out</a>
        </li>

    <% } else { %>

        <li>
            <a href="/user/signup">Sign Up</a>
        </li>

        <li>
            <a href="/user/signin">Sign In</a>
        </li>

    <% } %>

</p>

<p>
    This is the header
</p>