<link rel="stylesheet" href="/css/homeStyle.css">

<h1>Hello</h1>

 <section id="post-section">

    <!-- checking if user is logged in  -->
    <% if (locals.user) { %>

        <!-- form to get user data -->
        <form action="/post/create" id="post-feed" method="post">
            <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
            <input type="submit" value="Post">
        </form>


        <!-- to display posts -->
        <div id="post_container">

            <ul>

                <!-- displaying all the posts -->
                <% for (post of posts) { %>

                    <li>
                        <p>
                            <!-- content of post -->
                            <%= post.content %>
                        </p>

                        <p>
                            <!-- user who posted -->
                            <%= post.user.name %>
                        </p>

                        <div class="post-comments">

                            <% if (locals.user) { %>

                                <form action="/comment/create" method="post">
                                    <input type="text" name="content" placeholder="Add Comment...">
                                    <input type="hidden" name="post" value="<%= post._id %>">
                                    <input type="submit" value="Add Comment">
                                </form>

                            <% } %>

                        </div>

                    </li>
                
                <% } %>
                
            </ul>

        </div>

    <% } %>

    
 </section>