<div style="text-align: center;">
    <h1>
        Please check Your email for reset password link
    </h1>
    <br>
    <br>
    <p>
        If email is not received <a href="/user/forget-password">click here</a>
    </p>

</div>