<form action="/user/confirm-email/" method="post">
    <label for="email">Email / Username</label>
    <input type="email" name="email" placeholder="Enter your email address">

    <input type="submit" value="Send Confirmation">  
</form>