
<form action="/user/create-session" method="POST" >

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <input type="submit" value="Sign In">
</form>


<p>
    <a href="/user/auth/google">Sign in/ sign up using Google</a>
</p>