<div>
    <p>
        Hi <%= comment.user.name%> !
    </p>

    <br>
    <p>
        Your comment <strong> <%= comment.content %> </strong> got published on social media
    </p>

    <br>
    <p>
        Thank You!!
    </p>
</div>