<div>

    <p>
        Hello, <%= user.name %>
    </p>
    <br>

    <p>
            This is the link to reset your account's passowrd.
            <br>
            <a href="http://localhost:1000/user/reset-password/">click me</a>
    </p>
    <br>

    <p>
        <h3>
            Please ignore if it wasn't you!!
        </h3>
    </p>

</div>